*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.experiencePageDiv{
  margin-top: 6rem;
}

.hedlinePage{
 background: none;
 
}

.company{
  margin-bottom: 10px;

}

.experienceTemplet-item{
    font-size: 1.5rem;
    font-weight: 10;
    margin-bottom: 1rem;
    color: #41e3cb;
    text-align: center;
    margin-top: 2rem;

    border-radius: 30px;
    padding: 10px;
    font-family: Montserrat;
    transition: color 1s ease,  box-shadow 1s ease;
    width: 90%;
    
}

.experienceTemplet-item:hover{
  border: 0px solid rgb(8, 6, 7);
  
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px rgb(51, 71, 69);
    color: rgb(154, 157, 243);
}

.projectName{
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: color 1s ease,  box-shadow 1s ease;
}

.neww{
  margin-left: 3rem;
}

img{
  border-radius: 20px;
  height: 200px;
}

@media  (max-width: 820px) {
  .experienceTemplet-item {
    font-size: .8rem;
    width: 100%;
  }

  .hedlinePage{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: -3rem;
  }

  .role { 
    font-size: 1rem;
    margin-top: -30px;
    text-align: left;
    margin-left: 4rem;
  }

 .company{
  font-size: 1.2rem;
  text-align: left;
  margin-top: -10px;
  margin-left: 3rem;
 }

.project-image{
  width: 230px;
  height: auto;
  margin-top: 1rem;
}

.projectName{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 10px;
}

 .date{
  font-size: .8rem;
  margin-left: 2rem;
  margin-top: 7rem;
 }

 .descriptions{
  font-size: 0.7rem;
  margin-top: 2rem;
 }
}

